{% extends "social_network/layout.html" %}
{% load static %}

{% block main_content %}

<div class="content" style="background: white; rgb(220, 210, 210); width: 800px; position: absolute; top: 60px; left: 6%; bottom: 0; overflow-y: auto;">
 
    <h1>Discover Others </h1>
    <br>
    <!-- Search Bar -->
    <form method="GET" action="{% url 'discover' %}" class="mb-3 fixed-search-bar" style="max-width: 300px;">
        <div class="input-group">
            <input type="text" name="search" placeholder="Search name or username" class="form-control">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <br>

    <!-- Display a list of users with links to their profiles -->
    <div class="container" style="margin-left: 0;">
        <table class="table">
            <thead>
                <tr>
                    <th>Profile Photo</th>
                    <th>Username</th>
                    <th>Followers</th>
                    <th>Following</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_users %}
                    <tr>
                        <td>
                            <div class="profile-photo-container">
                                {% if user.profile_photo %}
                                    <img src="{{ user.profile_photo.url }}" alt="{{ user.username }} Profile Photo" class="img-fluid" style="width: 50px; height: 50px; object-fit: cover;">
                                {% else %}
                                    <i class="fas fa-user-circle fa-2x text-secondary" id="profile-photo-placeholder"></i>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'user_profile' user.username %}" style="font-weight: bold;">@{{ user.username }}</a>
                        </td>
                        <td>{{ user.followers.count }}</td>
                        <td>{{ user.following.count }}</td>
                        <td>
                            <form method="post" action="{% url 'follow_user' user.username %}" class="mr-3">
                                {% csrf_token %}
                                <input type="hidden" name="user_to_follow" value="{{ user.id }}">
                                {% if user != request.user %}
                                    {% if user in request.user.following.all %}
                                        <button type="submit" class="btn btn-danger">Unfollow</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-primary">Follow</button>
                                    {% endif %}
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
<style>
    .card-img-top {
        width: 100%;
        border-radius: 0;
    }
</style>

{% endblock %}
