{% extends "social_network/layout.html" %}
{% load static %}

{% block main_content %}

<div class="content" style="background: white; position: relative; top: 20px;">
    <h1>Followers of @{{ user.username }}</h1>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Profile Photo</th>
                    <th>Username</th>
                    <th>Followers</th>
                    <th>Following</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for follower in followers %}
                    <tr>
                        <td>
                            <div class="profile-photo-container">
                                {% if follower.profile_photo %}
                                    <img src="{{ follower.profile_photo.url }}" alt="{{ follower.username }} Profile Photo" class="img-fluid" style="width: 50px; height: 50px; object-fit: cover;">
                                {% else %}
                                    <i class="fas fa-user-circle fa-2x text-secondary" id="profile-photo-placeholder"></i>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'user_profile' follower.username %}" style="font-weight: bold;">@{{ follower.username }}</a>
                        </td>
                        <td>{{ follower.followers.count }}</td>
                        <td>{{ follower.following.count }}</td>
                        <td>
                            <form method="post" action="{% url 'follow_user' follower.username %}" class="mr-3">
                                {% csrf_token %}
                                <input type="hidden" name="user_to_follow" value="{{ follower.id }}">
                                {% if follower != request.user %}
                                    {% if follower in request.user.following.all %}
                                        <button type="submit" class="btn btn-danger">Unfollow</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-primary">Follow</button>
                                    {% endif %}
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    
</div>

</html>
{% endblock %}