{% extends "social_network/layout.html" %}
{% load static %}

{% block main_content %}

<div class="content" style="background: white; position: relative; top: 20px;">
    <h1>@{{ user.username }} follows</h1>
    <div class="content" style="background: white; position: relative; top: 20px;">
        
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Profile Photo</th>
                        <th>Username</th>
                        <th>Followers</th>
                        <th>Following</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for following in followings %}
                        <tr>
                            <td>
                                <div class="profile-photo-container">
                                    {% if following.profile_photo %}
                                        <img src="{{ following.profile_photo.url }}" alt="{{ following.username }} Profile Photo" class="img-fluid" style="width: 50px; height: 50px; object-fit: cover;">
                                    {% else %}
                                        <i class="fas fa-user-circle fa-2x text-secondary" id="profile-photo-placeholder"></i>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <a href="{% url 'user_profile' following.username %}" style="font-weight: bold;">@{{ following.username }}</a>
                            </td>
                            <td>{{ following.followers.count }}</td>
                            <td>{{ following.following.count }}</td>
                            <td>
                                <form method="post" action="{% url 'follow_user' following.username %}" class="mr-3">
                                    {% csrf_token %}
                                    <input type="hidden" name="user_to_follow" value="{{ following.id }}">
                                    {% if following != request.user %}
                                        {% if following in request.user.following.all %}
                                            <button type="submit" class="btn btn-danger">Unfollow</button>
                                        {% else %}
                                            <button type="submit" class="btn btn-primary">Follow</button>
                                        {% endif %}
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

</html>
{% endblock %}