{% extends "social_network/layout.html" %}
{% load static %}

{% block main_content %}
<div class="content" style="background-color: rgb(251, 245, 245); width: 100%; position: absolute; top: 60px; left: 10%; bottom: 0; overflow-y: auto;">
    
    <ul>
        {% for mention in mentions %}
            {% if mention.user in mentioned_users %}
            <li>
                {% if mention.post %}
                    <a href="{% url 'user_profile' mention.user.username %}">@{{ mention.user.username }}</a> mentioned you in a post:
                    <p>"{{ mention.post.content }}"</p>
                {% else %}
                    <a href="{% url 'user_profile' mention.user.username %}">@{{ mention.user.username }}</a> mentioned you in a comment on a post:
                    <p>"{{ mention.comment.post.content }}"</p>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
