{% extends "social_network/layout.html" %}
{% load static %}

{% block main_content %}
    <div class="container my-5">
        <table class="table border-0">
            <tbody>
                
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-outline-dark" id="logoutBtn" onclick="confirmLogout()">
                            <i class="fas fa-sign-out-alt mr-2"></i>Logout User
                        </a>
                    </td>
                    

                    <td>
                        <a href="{% url 'change_username_view' %}" class="btn btn-outline-dark">
                            <i class="fas fa-user-edit mr-2"></i>Change Username
                        </a>
                    </td>

                    <td>
                        <a href="{% url 'change_email' %}" class="btn btn-outline-dark">
                            <i class="far fa-envelope mr-2"></i>Change Email
                        </a>
                    </td>

                    <td>
                        <a href="{% url 'change_password' %}" class="btn btn-outline-dark">
                            <i class="fas fa-key mr-2"></i>Change Password
                        </a>
                    </td>

                    <td>
                        <a href="{% url 'blocked_users_list' %}" class="btn btn-outline-dark">
                            <i class="fas fa-ban mr-2"></i>Blocked Users
                        </a>
                    </td>

                    <td>
                        <a href="{% url 'delete_account' %}" class="btn btn-outline-dark" id="deleteAccountBtn" onclick="confirmDelete()">
                            <i class="far fa-trash-alt mr-2"></i>Delete Account
                        </a>
                    </td>

<script>
    function confirmDelete() {
        var result = confirm("Are you sure you want to delete your account and all of its information?");
        if (result) {
            // If the user clicks "OK," proceed with the deletion
            window.location.href = '{% url "delete_account" %}';
        }
    }
    function confirmLogout() {
        var result = confirm("Are you sure you want to logout?");
        if (result) {
            // If the user clicks "OK," proceed with the logout
            window.location.href = '{% url "logout_view" %}';
        }
    }
</script>
                    
                </tr>
            </tbody>
        </table>
        
    </div>

    
{% endblock %}

{% block nav_home_active %}
    active
{% endblock %}
