{% extends "social_network/layout.html" %}
{% load static %}

{% block main_content %}
<div class="content" style="background: white; position: relative; top: 20px;">
    <div class="container mt-1">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-photo text-center">
                    <div class="profile-photo-container text-center">
                        {% if user.profile_photo %}
                            <img src="{{ user.profile_photo.url }}" alt="Profile Photo" class="img-fluid " style="max-width: 100%; max-height: 100%;" id="profile-photo">
                        {% else %}
                            <i class="fas fa-user-circle fa-10x text-secondary" id="profile-photo-placeholder"></i>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-center">
                        <form method="post" action="{% url 'follow_user' user.username %}" class="mr-3">
                            {% csrf_token %}
                            <input type="hidden" name="user_to_follow" value="{{ user.id }}">
                            {% if user != request.user %}
                                {% if user in request.user.following.all %}
                                    <button type="submit" class="btn btn-danger mt-3">Unfollow</button><br>
                                    <div style="font-size: 10px; font-weight: 40px;">you follow this user</div>
                                {% else %}
                                    <button type="submit" class="btn btn-primary mt-3">Follow</button>
                                {% endif %}
                            {% endif %}
                        </form>
                    
                        {% if user_profile == request.user %}
                            {# This is the user's own profile, so don't render the form #}
                        {% else %}
                        <form method="post" action="{% if user_profile.username %}{% url 'user_profile' user_profile.username %}{% endif %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger mt-3">Block</button>
                        </form>
                        
                        {% endif %}

                    </div>
                    
                    
                    <br>
                    
                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="user-info">
                    <h3 class="text-primary">@{{ user.username }}</h3>
                    {% if message %}
                        <div class="alert alert-danger text-center" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                    
                    <form method="post" action="{% url 'my_profile' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="first-name">First Name</label>
                                    <input type="text" id="first-name" name="first-name" value="{{ user.first_name|title }}" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="last-name">Last Name</label>
                                    <input type="text" id="last-name" name="last-name" value="{{ user.last_name|title }}" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <input type="text" id="gender" name="gender" value="{{ user.gender }}" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="department">Department</label>
                                    <input type="text" id="department" name="department" value="{{ user.department }}" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="year-of-study">Year</label>
                                    <input type="text" id="year-of-study" name="year-of-study" value="{{ user.year_of_study }}" class="form-control" disabled>
                                </div>
                            </div>
                            <!-- Add other form fields here -->
                        </div>
                    </form>
                    <div class="col-md-6">
                        {% if user_profile %}
                            <div class="followers" style="margin-top: 15px;">
                                <strong style="font-size: 18px; color: #333;">
                                    <a href="{% url 'followers' username=user_profile.username %}">Followers</a>
                                </strong>
                                <span class="badge badge-primary" style="font-size: 16px;">{{ user_profile.followers.count }}</span>
                            </div>
                            
                            <div class="following" style="margin-top: 10px;">
                                <strong style="font-size: 18px; color: #333;">
                                    <a href="{% url 'followings' username=user_profile.username %}">Followings</a>
                                </strong>
                                <span class="badge badge-primary" style="font-size: 16px;">{{ user_profile.following.count }}</span>
                            </div>
                        {% else %}
                            
                        {% endif %}
                    </div>
                    
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Bio</h5>
                        <p class="card-text">{{ user.bio }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content mt-4">
        &nbsp; <a href="" class="btn btn-secondary">Posts</a>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-10">
                {% for post in posts %}
                <div class="card mb-3" style="border: 1.5px solid #ccc;  left: 0px; right: 30px; width: 120%;">

                    <div class="card-header">
                        {% if post.is_reshared %}
                                    
                                        <p class="text-muted">shared by: 
                                            <a href="{% url 'user_profile' post.reshared_by.username %}" class="text-primary">@{{ post.reshared_by.username }}</a>
                                        </p>
                                    
                        {% endif %}
                    
                        {% if post.author.profile_photo %}
                            <img src="{{ post.author.profile_photo.url }}" alt="{{ post.author.username }} Profile Picture" class="profile-picture img-fluid rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
                        {% endif %}
                        <strong><a href="{% url 'user_profile' post.author.username %}" class="text-primary">@{{ post.author }}</a></strong>
                        <small class="text-muted">{{ post.created }}</small>
                        <form method="post" action="{% url 'like_post' post.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link" >
                                
                                    <i class="far fa-thumbs-up" style="color: blue;"></i> 
                                
                            </button>
                            <span>{{ post.likes.count }} likes</span>
                        </form>
                        <!-- Add the Reshare button -->
                        <form method="post" action="{% url 'reshare_user_profile_post' post.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link">
                                <i class="fas fa-retweet" style="color: green;"></i>
                            </button>
                        </form>
                        <span>{{ post.reshares.count }} reshared</span>
                        
                        
                        
                    </div>
                    
                    <div class="card-body" style="background-color: #f0f0f0;">
                        <p class="card-text">{{ post.content }}</p>
                        <a href="#commentsCollapse{{ post.id }}" data-toggle="collapse" style="text-decoration: none;">
                            <p class="card-text">
                                <i class="fas fa-comments"></i>
                                View Comments ({{ post.comments.count }})
                            </p>
                        </a>
                        
                        
                        <div class="collapse" id="commentsCollapse{{ post.id }}">
                            <form method="post" action="{% url 'create_comment' post.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="comment_text">Your Comment:</label>
                                    <input type="text" id="comment_text" name="text" class="form-control" placeholder="Write your comment here" required>
                                </div>
                                <a href="{% url 'create_comment' post_id=post.id %}" class="btn btn-primary">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-comment" style="font-size: 18px;"></i>
                                    </button>
                                </a>                           
                            </form>
                            <br>
                            <ul class="list-unstyled">
                                {% for comment in post.comments.all %}
                                <li class="media" style="background-color: #e0e0e0;">
                                    {% if comment.user.profile_photo %}
                                        <img src="{{ comment.user.profile_photo.url }}" alt="{{ comment.user.username }} Profile Picture" class="profile-picture img-fluid rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
                                    {% endif %}
                                        <div class="media-body">
                                        <strong><a href="{% url 'user_profile' comment.user.username %}" class="text-primary">@{{ comment.user }}</a></strong>
                                        <p>{{ comment.text }}</p>
                                        <small class="text-muted">{{ comment.created }}</small>
                                        <form method="post" action="{% url 'like_comment' comment.id %}" style="display: inline;">
                                            {% csrf_token %}
                                            <button class="btn btn-sm">
                                                
                                                    <i class="far fa-thumbs-up" style="color: blue;"></i> 
                                                
                                            </button>
                                        </form>
                                        <span class="like-count">{{ comment.likes.count }} likes</span>
                                        <br>
                                        {% if comment.user == request.user %}
                                        <form method="post" action="{% url 'delete_comment' comment.id %}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm">               
                                                 <i class="fas fa-trash-alt" style="font-size: 14px;"></i>
                                            </button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% if post.author == request.user %}
                    <div class="card-footer">
                        <form method="post" action="{% url 'delete_post' post.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">                <i class="fas fa-trash-alt" style="font-size: 14px;"></i>
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
