{% extends "social_network/layout.html" %}
{% load static%}
<!-- Add this within the head section of your HTML template -->
<style>
  .edit-group-btn {
      display: inline-block;
      margin-top: 10px;
  }
</style>

{% block main_content %}
  <div class="row">
      <div class="col-md-6">
          <div class="group-photo text-center">
              <div class="group-photo-container text-center">
                  {% if group.group_photo %}
                      <img src="{{ group.group_photo.url }}" alt="{{ group.name }} Group Photo" class="img-fluid group-photo" id="group-photo">
                  {% else %}
                      <i class="fas fa-image fa-10x text-secondary group-photo-placeholder" id="group-photo-placeholder"></i>
                  {% endif %}
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="group-info">
              <h2 class="group-name" style="display: inline-block; margin-right: 10px;">{{ group.name|title }}</h2>
              {% if request.user == group.creator  %}
                <a href="{% url 'group_settings' group.id %}">
                  <i class="fas fa-cogs"></i>Settings 
                </a>
              {% endif %}

              {% if request.user == group.creator %}
                  <!-- You can add some alternative content or leave it empty for the creator -->
                  
              {% else %}
                  {% if request.user not in group.members.all %}
                      <a href="{% url 'join_group' group.id %}" class="btn btn-success">Join Group</a>
                  {% else %}
                      <a href="{% url 'leave_group' group.id %}" class="btn btn-danger">Leave Group</a>
                  {% endif %}
              {% endif %}

              <p class="group-creator" style="display: inline-block;">Created by: <a href="{% url 'user_profile' group.creator.username %}">@{{ group.creator.username }}</a></p>
              <p class="group-bio" style="font-weight: bold; font-style: italic; text-align: justify; margin-top: 10px;">{{ group.bio|title }}</p>

              <div class="members mt-4">
                <h5 style="color: rgb(0, 106, 255);" class="members-title" id="members-title">Members ({{ group.members.count }})</h5>

                <div class="members-dropdown" style="display: none;">
                    {% for member in group.members.all %}
                        <span class="badge badge-primary members-badge">{{ member.username }}</span>
                    {% endfor %}
                </div>
              </div>
              <script>
                $(document).ready(function () {
                    $('#members-title').click(function () {
                        $('.members-dropdown').toggle();
                    });
                });
              </script>
              <hr>
              <br>
              
              
          </div>
      </div>

    </div>
    <h5 style="color: rgb(0, 106, 255);" class="moderators-title toggle-title" id="moderators-title">Moderators ({{ group.moderators.count }})</h5>

    <script>
        $(document).ready(function () {
            $('.toggle-title').click(function () {
                var dropdown = $(this).next('.toggle-dropdown');
                dropdown.toggle();
            });
        });
    </script>
    
  <hr>

  

  <!-- Group Post Creation Form -->
  {% if request.user in group.members.all %}
  <div class="mb-3" id="group-post-creation-form">
    <form method="post" action="{% url 'create_group_post' group.id %}">
        {% csrf_token %}

        <div id="media-upload-container" style="cursor: pointer;">
            <div style="position: relative;">
                <i class="fas fa-camera" style="position: absolute; right: 10px; top: 80px; color:grey; z-index: 1;"></i>
                <textarea name="content" class="form-control with-icon" rows="4" placeholder="Write your group post here..."></textarea>
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-comment" style="font-size: 18px;"></i>
            Create Group Post
        </button>
    </form>
  </div>
{% endif %}


  <!-- Display Group Posts -->
<h3>Group Posts</h3>
<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-12">
            {% for group_post in group_posts %}
            <div class="card mb-3">
                <div class="card-header">
                    
                    
                    <!-- Author profile photo -->
                    {% if group_post.author.profile_photo %}
                        <img src="{{ group_post.author.profile_photo.url }}" alt="{{ group_post.author.username }} Profile Picture" class="profile-picture img-fluid rounded-circle mr-2" style="width: 40px; height: 40px; object-fit: cover;">
                    {% endif %}
                    
                    <!-- Author username and created timestamp -->
                    <strong><a href="{% url 'user_profile' group_post.author.username %}">@{{ group_post.author }}</a></strong>
                    <small class="text-muted">{{ group_post.created }}</small>
                    
                    <!-- Like button -->
                    <form method="post" action="{% url 'like_group_post' group.id group_post.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link">
                            <i class="far fa-thumbs-up" style="color: blue;"></i>
                        </button>
                        <span>{{ group_post.likes.count }} likes</span>
                    </form>
                </div>

                <div class="card-body">
                    <p class="card-text">{{ group_post.content }}</p>
                    
                    <!-- Comment form (if user is a member of the group) -->
                    {% if request.user in group.members.all %}
                    <form method="post" action="{% url 'create_group_comment' group.id group_post.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="text" class="form-control" placeholder="Write your comment here" required>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-comment"></i> Add Comment
                        </button>
                    </form>
                    <br>
                    {% endif %}


                    

                    <!-- Wrapper for comments -->
                    <div class="comments-wrapper" style="">
                      <!-- Display comments for the post -->
                      <ul class="list-unstyled">
                        {% for comment in group_post.groupcomment_set.all %}
                        <li class="media">
                          <!-- Comment content... -->
                          <p>
                            <!-- Author profile photo -->
                            {% if comment.user.profile_photo %}
                                <img src="{{ comment.user.profile_photo.url }}" alt="{{ comment.user.username }} Profile Picture" class="profile-picture img-fluid rounded-circle mr-2" style="width: 40px; height: 40px; object-fit: cover;">
                            {% else %}
                                <i class="fas fa-user-circle fa-2x text-secondary" id="profile-photo-placeholder"></i>
                            {% endif %}

                            <strong>{{ comment.user.username }}</strong>: {{ comment.text }}
                            <small class="text-muted">{{ comment.created }}</small>
                            <!-- Add a "Delete" button for the comment -->
                            {% if comment.user == user %}
                            <form method="post" action="{% url 'delete_group_comment' group.id group_post.id comment.id %}" style="display: inline;">
                              {% csrf_token %}
                              &nbsp;
                              <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt" style="font-size: 14px;"></i>
                              </button>
                            </form>
                            {% endif %}
                          </p>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>

                    

                    

                </div>
              
                <!-- Delete button for moderators or creator -->
                <div class="card-footer">
                    {% if request.user == group.creator or request.user in group.moderators.all or group_post.author == request.user %}
                        <form method="post" action="{% url 'delete_group_post' group.id group_post.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" style="background-color: #ff4f4f; color: #fff;">
                                <i class="fas fa-trash-alt" style="font-size: 14px;"></i>
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

  </div>
  
{% endblock %}
