<!-- social_network/templates/social_network/view_group.html -->

{% extends "social_network/layout.html" %}

{% block main_content %}
  <h2>{{ group.name }}</h2>
  <p>{{ group.bio }}</p>
  <p>Creator: {{ group.creator.username }}</p>
  <p>Moderators: {% for moderator in group.moderators.all %}{{ moderator.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  <p>Members: {% for member in group.members.all %}{{ member.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% endblock %}
